<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sodagroup.mapper.ListUserMapper">
    <select id="selectAllListUser">
        select id,list_id,user_id
        from listuser
    </select>

    <select id="selectListUserById">
        select id,list_id,user_id
        from listuser
        where id = #{id}
    </select>

    <insert id="insertListUser">
        insert into listuser (list_id,user_id)
        values (#{listId},#{userId})
    </insert>

    <!--取消收藏-->
    <delete id="deleteListUser">
        delete from listuser where id = #{id}
    </delete>
    <delete id="deleteListUserByUserIdAndListId">
        delete from listuser
        where list_id = #{listId} and user_id = #{userId}
    </delete>

    <update id="updateListUser">
        update listuser
        set list_id = #{listId},
            user_id = #{userId}
        where id = #{id}
    </update>


</mapper>